doctype html
html
  head
    title Blogsida
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    link(rel="stylesheet" href="/css/style.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js", integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js", integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6", crossorigin="anonymous")
  body
    //- Page navbar
    nav.navbar.navbar-expand-md.navbar-dark
      a.navbar-brand(href="/") Blogsida
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarMain", aria-controls="navbarMain", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarMain.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href="/posts/add") Add Post
        ul.nav.navbar-nav.navbar-right
          //- If user is logged in display logout button, otherwise login, register
          if user
            li.nav-item.mr-4
              span.navbar-text.text-dark Signed in as: #{user.username}
            li.nav-item
              a.nav-link(href="/auth/logout") Logout
          else
            li.nav-item
              a.nav-link(href="/auth/register") Register
            li.nav-item
              a.nav-link(href="/auth/login") Login
    .container
      br
      != messages("message", locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      block content