extends layout

block content
  br
  h1 Login
  form(method="POST", action="/auth/login")
    .form-group
      label Username:
      input.form-control(name="username", type="text", required, autofocus)
    .form-group
      label Password:
      input.form-control(name="password", type="password", required)
    input.btn.btn-primary(type="submit", value="Login")