extends layout

block content
  h1= post.title
  h5 Author: #{username}
  p= post.content
  hr
  //- Only show buttons if user is logged in and the post author
  if user
    if user.id == post.author
      a.btn.btn-secondary.mr-1(href="/posts/edit/"+post._id) Edit
      a.btn.btn-danger.delete-post(href="#", data-id=post._id) Delete

      script(src="/js/delete_post.js")